In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from pandas import Series, DataFrame

%matplotlib inline

In [3]:
foodbalancesheet= pd.read_csv('/Users/temidayo/downloads/hamoye/FoodBalanceSheets_E_Africa_NOFLAG.csv', index_col=0)

In [4]:
print(foodbalancesheet.shape)
foodbalancesheet.head()

(60943, 11)

,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
Area Code,,,,,,,,,,,
4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [5]:
foodbalancesheet.describe()

,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.000000,60943.000000,59354.000000,59395.000000,59408.000000,59437.000000,59507.000000
mean,2687.176706,3814.856456,134.196282,135.235966,136.555222,140.917765,143.758381
std,146.055739,2212.007033,1567.663696,1603.403984,1640.007194,1671.862359,1710.782658
min,2501.000000,511.000000,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,2562.000000,684.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,2630.000000,5142.000000,0.090000,0.080000,0.080000,0.100000,0.070000
75%,2775.000000,5511.000000,8.340000,8.460000,8.430000,9.000000,9.000000
max,2961.000000,5911.000000,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000

In [7]:
category_sum= DataFrame(foodbalancesheet.groupby(['Item'])['Y2014','Y2015', 'Y2016', 'Y2017', 'Y2018'].sum())
print(category_sum)

                         Y2014      Y2015      Y2016      Y2017      Y2018
Item
Alcohol, Non-Food      2403.00    2180.00    2223.00    2348.00    2293.00
Alcoholic Beverages  102410.11   98783.72   96958.75   95581.06   97847.27
Animal Products       11935.65   11811.73   11661.69   11547.65   11578.61
Animal fats          209460.54  200675.72  183314.22  269617.53  269648.27
Apples and products    9499.23   10559.15    9853.26   10198.90    9640.51
...                        ...        ...        ...        ...        ...
Vegetables, Other    155038.96  158104.08  156218.90  157752.59  163987.21
Vegetal Products     107145.19  107064.17  106792.72  107655.20  107775.39
Wheat and products   232670.13  234710.51  239377.07  240047.62  242645.19
Wine                   4497.36    4251.81    3872.09    4178.02    4039.32
Yams                 200396.96  203151.78  220626.20  229174.59  221272.09

[119 rows x 5 columns]

<ipython-input-7-fcb8592c0e75>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  category_sum= DataFrame(foodbalancesheet.groupby(['Item'])['Y2014','Y2015', 'Y2016', 'Y2017', 'Y2018'].sum())

In [6]:
element_sum= DataFrame(foodbalancesheet.groupby(['Element'])['Y2014','Y2015', 'Y2016', 'Y2017', 'Y2018'].sum())
print(element_sum)

                                             Y2014       Y2015       Y2016  \
Element
Domestic supply quantity                1996716.35  2021493.55  2044842.70
Export Quantity                          150020.64   157614.47   151920.46
Fat supply quantity (g/capita/day)        10225.56    10235.74    10102.77
Feed                                     216927.89   225050.22   228958.65
Food                                    1212332.49  1232361.10  1247022.17
Food supply (kcal/capita/day)            454257.00   453383.00   451810.00
Food supply quantity (kg/capita/yr)       49650.63    49345.13    48985.28
Import Quantity                          274144.48   267018.46   286582.78
Losses                                   153223.00   155439.00   157787.00
Other uses (non-food)                     78718.13    66254.41    69563.68
Processing                               282923.00   287929.00   280631.00
Production                              1931287.75  1947019.39  1943537.15
Protein supply quantity (g/capita/day)    11836.46    11833.95    11779.69
Residuals                                 30149.00    30045.00    37224.00
Seed                                      21922.92    23976.82    23389.20
Stock Variation                           58749.83    34910.99    33140.12
Total Population - Both sexes           1031585.00  1058081.00  1085107.00
Tourist consumption                         416.00      349.00       89.00

                                             Y2017       Y2018
Element
Domestic supply quantity                2088198.10  2161192.10
Export Quantity                          182338.80   181594.80
Fat supply quantity (g/capita/day)        10253.84    10258.69
Feed                                     223705.68   233489.68
Food                                    1258888.28  1303841.28
Food supply (kcal/capita/day)            454681.00   455261.00
Food supply quantity (kg/capita/yr)       48690.04    49056.85
Import Quantity                          294559.09   287997.09
Losses                                   160614.00   163902.00
Other uses (non-food)                     91645.97    91300.97
Processing                               292836.00   308429.00
Production                              2030056.89  2075072.89
Protein supply quantity (g/capita/day)    11842.45    11833.56
Residuals                                 35500.00    34864.00
Seed                                      24870.14    25263.14
Stock Variation                           54316.91    20577.91
Total Population - Both sexes           1112641.00  1140605.00
Tourist consumption                          91.00       90.00

<ipython-input-6-22b7c4f7f27b>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  element_sum= DataFrame(foodbalancesheet.groupby(['Element'])['Y2014','Y2015', 'Y2016', 'Y2017', 'Y2018'].sum())

In [9]:
foodbalancesheet.isnull().sum()

Area               0
Item Code          0
Item               0
Element Code       0
Element            0
Unit               0
Y2014           1589
Y2015           1548
Y2016           1535
Y2017           1506
Y2018           1436
dtype: int64

In [10]:
# % of missing value
foodbalancesheet.isnull().sum()/foodbalancesheet.shape[0]*100

Area            0.000000
Item Code       0.000000
Item            0.000000
Element Code    0.000000
Element         0.000000
Unit            0.000000
Y2014           2.607354
Y2015           2.540078
Y2016           2.518747
Y2017           2.471162
Y2018           2.356300
dtype: float64

In [11]:
foodbalancesheet.corr()

,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Item Code,1.000000,-0.024683,0.021722,0.020857,0.020109,0.021494,0.021314
Element Code,-0.024683,1.000000,0.024457,0.023889,0.023444,0.024254,0.024279
Y2014,0.021722,0.024457,1.000000,0.994647,0.996081,0.995230,0.994872
Y2015,0.020857,0.023889,0.994647,1.000000,0.995739,0.988048,0.988208
Y2016,0.020109,0.023444,0.996081,0.995739,1.000000,0.992785,0.992757
Y2017,0.021494,0.024254,0.995230,0.988048,0.992785,1.000000,0.998103
Y2018,0.021314,0.024279,0.994872,0.988208,0.992757,0.998103,1.000000

In [12]:
element_sum= DataFrame(foodbalancesheet.groupby(['Element'])['Y2014','Y2015', 'Y2016', 'Y2017', 'Y2018'].sum())
print(element_sum)

                                             Y2014       Y2015       Y2016  \
Element
Domestic supply quantity                1996716.35  2021493.55  2044842.70
Export Quantity                          150020.64   157614.47   151920.46
Fat supply quantity (g/capita/day)        10225.56    10235.74    10102.77
Feed                                     216927.89   225050.22   228958.65
Food                                    1212332.49  1232361.10  1247022.17
Food supply (kcal/capita/day)            454257.00   453383.00   451810.00
Food supply quantity (kg/capita/yr)       49650.63    49345.13    48985.28
Import Quantity                          274144.48   267018.46   286582.78
Losses                                   153223.00   155439.00   157787.00
Other uses (non-food)                     78718.13    66254.41    69563.68
Processing                               282923.00   287929.00   280631.00
Production                              1931287.75  1947019.39  1943537.15
Protein supply quantity (g/capita/day)    11836.46    11833.95    11779.69
Residuals                                 30149.00    30045.00    37224.00
Seed                                      21922.92    23976.82    23389.20
Stock Variation                           58749.83    34910.99    33140.12
Total Population - Both sexes           1031585.00  1058081.00  1085107.00
Tourist consumption                         416.00      349.00       89.00

                                             Y2017       Y2018
Element
Domestic supply quantity                2088198.10  2161192.10
Export Quantity                          182338.80   181594.80
Fat supply quantity (g/capita/day)        10253.84    10258.69
Feed                                     223705.68   233489.68
Food                                    1258888.28  1303841.28
Food supply (kcal/capita/day)            454681.00   455261.00
Food supply quantity (kg/capita/yr)       48690.04    49056.85
Import Quantity                          294559.09   287997.09
Losses                                   160614.00   163902.00
Other uses (non-food)                     91645.97    91300.97
Processing                               292836.00   308429.00
Production                              2030056.89  2075072.89
Protein supply quantity (g/capita/day)    11842.45    11833.56
Residuals                                 35500.00    34864.00
Seed                                      24870.14    25263.14
Stock Variation                           54316.91    20577.91
Total Population - Both sexes           1112641.00  1140605.00
Tourist consumption                          91.00       90.00

<ipython-input-12-22b7c4f7f27b>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  element_sum= DataFrame(foodbalancesheet.groupby(['Element'])['Y2014','Y2015', 'Y2016', 'Y2017', 'Y2018'].sum())

In [17]:
import_quantity = foodbalancesheet.pivot_table(['Y2018'], index='Area', columns='Element', aggfunc=sum)
import_quantity.head()

                                Y2018                  \
Element      Domestic supply quantity Export Quantity
Area
Algeria                      90023.42          811.54
Angola                       59590.22         7962.28
Benin                        31447.90          729.44
Botswana                      3045.85          101.68
Burkina Faso                 25705.16         1088.16

                                                                     \
Element      Fat supply quantity (g/capita/day)      Feed      Food
Area
Algeria                                  309.09  10668.00  63736.33
Angola                                   230.90   7859.66  37256.56
Benin                                    207.82   4662.54  16209.34
Botswana                                 261.12     28.04   2378.80
Burkina Faso                             264.29   1031.50  20525.63

                                            \
Element      Food supply (kcal/capita/day)
Area
Algeria                            13288.0
Angola                              9538.0
Benin                              11023.0
Botswana                            9365.0
Burkina Faso                       10951.0

                                                                          \
Element      Food supply quantity (kg/capita/yr) Import Quantity  Losses
Area
Algeria                                  1509.28        36238.29  7708.0
Angola                                   1209.36         7769.67  6135.0
Benin                                    1411.42         7008.24  2814.0
Botswana                                 1055.79         1908.42   106.0
Burkina Faso                             1039.07         2605.64   912.0

                                                          \
Element      Other uses (non-food) Processing Production
Area
Algeria                    3970.08     2479.0   60766.67
Angola                     1014.00     6727.0   59039.83
Benin                      4192.00     2148.0   27500.54
Botswana                     26.02      196.0    1534.10
Burkina Faso                262.02     2671.0   24859.68

                                                                       \
Element      Protein supply quantity (g/capita/day) Residuals    Seed
Area
Algeria                                      367.28     630.0   825.0
Angola                                       212.20       0.0   595.0
Benin                                        255.90     -66.0  1487.0
Botswana                                     263.26     300.0    11.0
Burkina Faso                                 320.57     -86.0   396.0


Element      Stock Variation Total Population - Both sexes Tourist consumption
Area
Algeria              6172.00                       42228.0                 NaN
Angola               -743.00                       30810.0                 0.0
Benin                2444.56                       11485.0                 NaN
Botswana              294.00                        2254.0                 0.0
Burkina Faso          674.00                       19751.0                 NaN

In [16]:
import_quantity.loc[['Algeria']]

                           Y2018                  \
Element Domestic supply quantity Export Quantity
Area
Algeria                 90023.42          811.54

                                                               \
Element Fat supply quantity (g/capita/day)     Feed      Food
Area
Algeria                             309.09  10668.0  63736.33

                                                                           \
Element Food supply (kcal/capita/day) Food supply quantity (kg/capita/yr)
Area
Algeria                       13288.0                             1509.28

                                                                             \
Element Import Quantity  Losses Other uses (non-food) Processing Production
Area
Algeria        36238.29  7708.0               3970.08     2479.0   60766.67

                                                                 \
Element Protein supply quantity (g/capita/day) Residuals   Seed
Area
Algeria                                 367.28     630.0  825.0


Element Stock Variation Total Population - Both sexes Tourist consumption
Area
Algeria          6172.0                       42228.0                 NaN

In [18]:
A=foodbalancesheet.Area.value_counts()
print('Number of Unique Country :', len(A))

Number of Unique Country : 49